<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.aaa.OneVPN.starter</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/launchctl</string>
        <string>load</string>
        <string>-w</string>
        <string>/Library/LaunchDaemons/com.aaa.onevpn.OVPNHelper.plist</string>
    </array>
    <key>KeepAlive</key>
    <false/>
    <key>RunAtLoad</key>
    <true/>
    <key>UserName</key>
    <string>root</string>
</dict>
</plist>
